/* Size Hp */
@media screen and (max-width: 640px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }

  header {
    width: 100%;
    background-color: #ffd32a;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
  }

  .main-banner {
    padding: 100px 0 50px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
  }

  .grid-container-main-banner {
    display: grid;
    grid-template-columns: 100%;
  }

  .grid-item-main-banner {
    margin: 0 auto;
  }

  .grid-item-main-banner h1 {
    opacity: 0.7;
    font-size: 20px;
    letter-spacing: 5px;
  }

  .grid-container-about-us {
    display: grid;
    grid-template-columns: 100%;
    padding: 40px;
  }

  .grid-container-what-we-do {
    display: grid;
    grid-template-columns: 100%;
    padding: 40px;
  }

  .grid-container-project {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px;
    color: #fff;
  }
  .grid-container-project h3 {
    opacity: 0.7;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .grid-container-project p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 24px;
  }

  .icon-project {
    font-size: 25px;
  }
}

/* Size Table */
@media screen and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Lucida Grande";
  }

  header {
    width: 100%;
    background-color: #ffd32a;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .grid-container-header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 0 10px;
    min-height: 80px;
  }
  .grid-item-header {
    font-size: 20px;
    text-align: center;
  }

  .logo-header {
    width: 80px;
  }

  .grid-item-header ul {
    list-style: none;
  }

  .grid-item-header ul li {
    float: right;
    padding: 0px 10px;
    line-height: 40px;
    color: #fff;
  }

  .grid-container-project {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 40px;
    color: #fff;
  }

  /* ----------------------------------------------------------- */
  .main-banner {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
    height: 720px;
    width: 100%;
  }

  .grid-container-main-banner {
    display: grid;
    grid-template-columns: 100%;
  }
  .grid-item-main-banner {
    margin: 0 auto;
  }

  .grid-item-main-banner h1 {
    opacity: 0.7;
    font-size: 60px;
    letter-spacing: 5px;
  }

  .grid-item-main-banner p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 20px;
  }

  .btn-wrapper {
    margin: 20px 0;
  }
  .contact {
    padding: 40px 0 20px 0;
    text-align: center;
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: 100%;
    padding: 40px;
  }

  .grid-container-contact h3 {
    opacity: 0.7;
    font-size: 24px;
    letter-spacing: 2px;
  }

  .grid-container-contact p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 18px;
  }
  .grid-item-contact {
    padding: 40px;
    margin: 0px 5px;
    color: black;
    text-align: left;
  }

  .img-contact {
    width: 600px;
    height: 350px;
    border: 1px solid #3c40c6;
  }
}
